
.container{
    background-color: green;
    padding: 1px;
    margin: 2px;
display: grid;
grid: 50px auto auto auto;
grid-template-columns: auto auto auto;
grid-area: auto;
}

.row{
    width: 20%;
    padding: 20px;
    margin: auto;
    border: 2px;
    border-color: white;
   color: white;

}
@media screen(max width=600px) {
    grid-row: inherit;
}