*{
    align-content: center;
}
.body{
    justify-items: center;
    position: relative;
    background-color: antiquewhite;
    margin: 10px;
    padding: auto;
}
h2{
    color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
   
    display: grid;
    grid-template-columns: auto 50px auto 50px auto;
    border: 5px;
    border-radius: 50px;
    border-color: black;
    width: 20px;
    padding: 100px;
}
.clk{
   
    width: 200px;
    height: 200px;
    border: 50px;
    border-radius: 50px;
    border-color: black;

}