h3{
    text-align: center;
}
table{
   
    text-align: center;
    width: 50%;
    height: 20%;
    margin: 1em;
    padding: 1px;
    border: 1px solid;
    text-align: center;
}

tr,td,th{
    width: 10%;
    height: 5%;
    margin: 1em;
    padding: 1px;
    border: 1px solid;
    text-align: center;
}
.end{
    height: 60%;
}
#top{
    height: ;
    color: green;
    background: green;
    
}
#bottom{
    background: red;
    height: 1px;
}
img{
    float: inline-start;
}